@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Cloud Computing</h1>
</div>

<div class="text-center">
    <h1 class="display-4">Submitted by-</h1>
    <table style="width:100%">
        <tr>
            <th>Full Name</th>

            <th>Matriculation ID</th>
        </tr>
        <tr>
            <td>Mohammad Anas</td>

            <td>1364172</td>
        </tr>
        <tr>
            <td>Md Shamsul Akram</td>

            <td>1355110</td>
        </tr>
        <tr>
            <td>Mahabubul Islam</td>

            <td>1345845</td>
        </tr>
        <tr>
            <td>S M Izaz Ahmmed</td>

            <td>1293829</td>
        </tr>
    </table>
</div>